* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f5f7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.w {
  width: 1200px;
  margin: auto;
}

.header {
  height: 42px;
  margin: 30px auto;
}

.logo {
  float: left;
  width: 196px;
  height: 42px;
}

.nav {
  float: left;
  margin-left: 60px;
}

.nav ul li {
  float: left;
  margin: 0 12.5px;
}

.nav ul li a {
  display: inline-block;
  height: 42px;
  padding: 0 10px;
  font-size: 18px;
  color: #050505;
  line-height: 42px;
}

.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  color: #00a4ff;
}

.search {
  float: left;
  margin-left: 70px;
  height: 42px;
  width: 412px;
}

.search input {
  float: left;
  height: 38px;
  width: 340px;
  padding-left: 20px;
  background-color: #f3f5f7;
  border: 1px solid #00a4ff;
  border-right: none;
  font-size: 14px;
}

.search input::placeholder {
  color: #bfbfbf;
}

.search button {
  float: left;
  height: 41px;
  width: 50px;
  border: none;
  background: url(images/btn.png);
}

.user {
  float: left;
  margin-left: 30px;
  font-size: 14px;
  color: #666;
}

.banner {
  height: 420px;
  background: #1c036c;
}

.banner .w {
  height: 100%;
  background: url(images/banner.png) no-repeat center top;
}

.subnav {
  float: left;
  height: 420px;
  width: 190px;
  background: rgba(0, 0, 0, 0.3);
}

.subnav ul {
  margin-top: 10px;
  padding: 0 20px;
}

.subnav ul li {
  height: 45px;
}

.subnav ul li a {
  display: block;
  width: 100%;
  float: left;
  height: 45px;
  font-size: 14px;
  color: #fff;
  line-height: 45px;
}

.subnav ul li a:hover {
  color: #00a4ff;
}

.subnav ul li span {
  float: right;
}

.course {
  float: right;
  width: 230px;
  height: 300px;
  margin-top: 55px;
}

.course h2 {
  width: 100%;
  height: 45px;
  background: #9bceea;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 45px;
}

.course .bd {
  height: 255px;
  background: #fff;
}

.course .bd ul {
  margin: 0 20px;
}

.course .bd li {
  padding: 12px 0;
  border-bottom: 1px solid #e5e5e5;
}

.course .bd li h4 {
  font-size: 16px;
  color: #4e4e4e;
}

.course .bd li p {
  margin-top: 3px;
  font-size: 12px;
  color: #a5a5a5;
}

.course .bd .more {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px auto 0;
  border: 1px solid #00a4ff;
  font-size: 16px;
  color: #00a4ff;
  text-align: center;
  line-height: 40px;
}

.goods {
  height: 60px;
  margin-top: 10px;
  background: #fff;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.goods h4 {
  float: left;
  padding: 0 35px;
  color: #00a4ff;
  font-size: 16px;
  font-weight: 700;
  line-height: 60px;
}

.goods ul {
  float: left;
}

.goods ul li {
  float: left;
  line-height: 60px;
}

.goods ul li a {
  padding: 0 35px;
  border-left: 1px solid #bfbfbf;
  color: #050505;
  font-size: 16px;
}

.goods ul li a:hover {
  color: #00a4ff;
}

.goods>a {
  float: right;
  margin-right: 25px;
  color: #00a4ff;
  font-size: 14px;
  line-height: 60px;
}


.hd {
  margin-top: 35px;
  height: 40px;
}

.hd h2 {
  float: left;
  color: #494949;
  font-weight: 400;
  font-size: 20px;
}

.hd ul {
  float: left;
  margin-left: 250px;
}

.hd ul li {
  float: left;
  margin: 0 37px;
  color: #868686;
  font-size: 16px;
}

.hd ul li:hover {
  color: #00a4ff;
  cursor: pointer;
}

.hd a {
  float: right;
  margin: 8px 35px 0 0;
  color: #a5a5a5;
  font-size: 12px;
}

.recommend ul {
  width: 1215px;
}

.card {
  float: left;
  width: 228px;
  height: 270px;
  margin: 0 15px 15px 0;
  background: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 155px;
}

.card h4 {
  height: 32px;
  margin: 25px 20px 20px 24px;
  color: #050505;
  font-size: 14px;
  font-weight: 400;
}

.card .info {
  margin: 0 20px 0 24px;
  color: #999;
  font-size: 12px;
}

.card .info .level {
  color: #ff7c2d;
  font-size: 12px;
}

.base .bd {
  height: 392px;
}

.bd .left {
  float: left;
  width: 228px;
  height: 100%;
}

.bd .right {
  float: right;
  width: 957px;
}

.bd .top {
  width: 100%;
  height: 100px;
}

.base .bd ul {
  margin-top: 18px;
  width: 972px;
}

.footer {
  height: 417px;
  margin-top: 40px;
  background: #fff;
}

.inc,
.links {
  float: left;
  padding: 33px 22px;
}

.inc p {
  margin-top: 15px;
  color: #666;
  font-size: 12px;
}

.inc a {
  display: block;
  width: 120px;
  height: 36px;
  margin-top: 15px;
  border: 1px solid #00a4ff;
  color: #00a4ff;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
}

.links dl {
  float: left;
  margin-left: 145px;
}

.links dt {
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
}

.links dd a {
  color: #333;
  font-size: 12px;
  line-height: 20px;
}

.links dd a:hover {
  color: #00a4ff;
}