body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

a {
  color: black;
}
a:hover {
  color: brown;
}

img {
  margin-top: -25px;
}

h1, h2 {
  font-family: Impact, serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}

p {
  font-family: sans-serif;
  font-size: 18px;
}

footer p {
  font-size: 14px;
}

section {
  margin-bottom: 20px;
}


.menu {
  background-color: burlywood;
  width: 500px;
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
  overflow: hidden;
}

.est {
  font-style: italic;
  margin-top: -5px;
  font-size: 16px;
}

.item, .price {
  display: inline-block;
  margin: 5px 0;
  width: 50%;
}
.item {
  text-align: left;
}
.price {
  text-align: right;
}