* {
  margin: 0;
  padding: 0;
}

.box {
  width: 1310px;
  height: 515px;
  margin: 30px auto;
  list-style: none;
}

.box .left {
  float: left;
  width: 250px;
  height: 515px;
  background-color: burlywood;
}

.box ul {
  float: left;
  width: 1060px;
  height: 515px;
  background-color: aqua;
  list-style: none;
}

.box ul li {
  float: left;
  width: 250px;
  height: 250px;
  margin: 0 0 15px 15px;
  background-color: blueviolet;
}