body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif
}

div {
  width: 230px;
  height: 460px;
  padding: 20px 0;
  background-color: #74777b;
}

a {
  display: block;
  height: 46px;
  color: #ffffff;
  text-decoration: none;
  text-indent: 2em;
  line-height: 46px;
}

a:hover {
  background-color: #ff6700;
}